$text-color: #404040;
$text-color2:#8a8a8a;
$text-link:#007AFF;
$text-font-weight:700;
$text-font-lightweight:500;
$border:#f2f2f2;
$background-color:#eee;
$success-bg:#66CC66;
$text-blue:#2D446E;
$icon-color:#ccc;